<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your tickets</title>
</head>
<body>
    <div>
        <div th:each="tick : ${tickets}" style="display:block;border:solid 2px black;">
            <h5>Movie: <a th:href="'/movies/' + ${tick.movieId}" th:text="${tick.movieTitle}"></a></h5>
            <p th:text="'Date: ' + ${tick.date}"></p>
            <p th:text="'Hall: ' + ${tick.hallName}"></p>
            <p th:text="'Row: ' + ${tick.row} + ' Place: ' + ${tick.place}"></p>
        </div>
    </div>
</body>
</html>